<div class="mat-elevation-z8" *ngIf="games.metadata$ | async as metadata">
  <!--  we are using the observable of Games[] as data source for material table -->
  <mat-table
    [dataSource]="games.games$"
    [trackBy]="trackByFn"
    matSort
    [matSortActive]="metadata.ordering?.replace('-', '')"
    [matSortDirection]="metadata.ordering?.startsWith('-') ? 'desc' : 'asc'"
    (matSortChange)="doSort($event)"
    matSortDisableClear
  >
    <ng-container matColumnDef="image">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        disabled
      ></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <img
          [src]="row.background_image | cropImage"
          alt="{{ row.name }} image"
          class="image"
        />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="title">{{ row.name }}</div>
        <div class="platforms">
          <span
            class="platform"
            *ngFor="let item of row.platforms"
            [ngClass]="item.platform.slug"
            [title]="item.platform.name"
          ></span>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="genres">
      <mat-header-cell *matHeaderCellDef mat-sort-header disabled
        >Genres</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        <a
          class="genre"
          *ngFor="let genre of row.genres"
          mat-stroked-button
          routerLink="."
          routerLinkActive="active mat-accent"
          [routerLinkActiveOptions]="{ exact: false }"
          [queryParams]="{
            genres: genre.id
          }"
          queryParamsHandling="merge"
          >{{ genre.name }}</a
        >
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Rating</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.rating }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="metacritic">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Metascore</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        <div
          class="score-badge"
          *ngIf="row.metacritic | ratingColor as color"
          [ngStyle]="{
            color: color,
            borderColor: color
          }"
        >
          {{ row.metacritic || '?' }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="released">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Released</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.released | date }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="playtime">
      <mat-header-cell *matHeaderCellDef>Play time</mat-header-cell>
      <mat-cell *matCellDef="let row">~{{ row.playtime }} hours</mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [pageIndex]="metadata.page > 0 ? metadata.page - 1 : 0"
    [length]="metadata.total"
    [pageSize]="metadata.pageSize"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    (page)="changePage($event)"
  ></mat-paginator>
</div>
