<div class="view-options">
  <a
    mat-raised-button
    routerLink="."
    routerLinkActive="active mat-accent"
    [routerLinkActiveOptions]="{ exact: true }"
    [queryParams]="{ viewMode: 'compact' }"
    queryParamsHandling="merge"
  >
    <mat-icon class="mat-24">view_headline</mat-icon>
  </a>
  <a
    mat-raised-button
    routerLink="."
    routerLinkActive="active mat-accent"
    [routerLinkActiveOptions]="{ exact: true }"
    [queryParams]="{ viewMode: undefined }"
    queryParamsHandling="merge"
  >
    <mat-icon class="mat-24">view_list</mat-icon>
  </a>
</div>

<div class="mat-elevation-z8" *ngIf="games.metadata$ | async as metadata">
  <!--  we are using the observable of Games[] as data source for material table -->
  <mat-progress-spinner
    class="loader"
    *ngIf="metadata.loading"
    mode="indeterminate"
    color="accent"
  ></mat-progress-spinner>
  <mat-table
    [class.loading]="metadata.loading"
    [dataSource]="games.games$"
    [trackBy]="trackByFn"
    matSort
    [matSortActive]="metadata.ordering?.replace('-', '')"
    [matSortDirection]="metadata.ordering?.startsWith('-') ? 'desc' : 'asc'"
    (matSortChange)="doSort($event)"
    matSortDisableClear
  >
    <ng-container matColumnDef="image">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        disabled
        [class.hidden]="(viewMode$ | async) === 'compact'"
      ></mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        [class.hidden]="(viewMode$ | async) === 'compact'"
      >
        <img
          [src]="row.background_image | cropImage"
          alt="{{ row.name }} image"
          class="image"
        />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="title">{{ row.name }}</div>
        <div class="platforms">
          <span
            class="platform"
            *ngFor="let item of row.platforms"
            [ngClass]="item.platform.slug"
            [title]="item.platform.name"
          ></span>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="genres">
      <mat-header-cell *matHeaderCellDef mat-sort-header disabled
        >Genres</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        <div class="genres-container" *ngFor="let genre of row.genres">
          <a
            class="genre"
            mat-stroked-button
            routerLink="."
            routerLinkActive="active mat-accent"
            [routerLinkActiveOptions]="{ exact: false }"
            [queryParams]="{
              genres: genre.id
            }"
            queryParamsHandling="merge"
            >{{ genre.name }}
          </a>
          <button
            (click)="$event.stopPropagation(); $event.preventDefault()"
            class="genre-cancel"
            routerLink="."
            [queryParams]="{
              genres: undefined
            }"
            queryParamsHandling="merge"
          >
            ✕
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Rating</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.rating }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="metacritic">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Metascore</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        <div
          class="score-badge"
          *ngIf="row.metacritic | ratingColor as color"
          [ngStyle]="{
            color: color,
            borderColor: color
          }"
        >
          {{ row.metacritic || '?' }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="released">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Released</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.released | date }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="playtime">
      <mat-header-cell *matHeaderCellDef>Play time</mat-header-cell>
      <mat-cell *matCellDef="let row">~{{ row.playtime }} hours</mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    class="footer"
    [pageIndex]="metadata.page > 0 ? metadata.page - 1 : 0"
    [length]="metadata.total"
    [pageSize]="metadata.pageSize"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    (page)="changePage($event)"
  ></mat-paginator>
</div>
