<div class="mat-elevation-z8" *ngIf="games.metadata$ | async as metadata">
  <!--  we are using the observable of Games[] as data source for material table -->
  <table
    mat-table
    [dataSource]="games.games$"
    matSort
    [matSortActive]="metadata.ordering?.replace('-', '')"
    [matSortDirection]="metadata.ordering?.startsWith('-') ? 'desc' : 'asc'"
    (matSortChange)="doSort($event)"
  >
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disabled></th>
      <td mat-cell *matCellDef="let row">
        <img
          [src]="row.background_image | cropImage"
          alt="{{ row.name }} image"
          class="image"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">
        <div class="title">{{ row.name }}</div>
        <div class="platforms">
          <span
            class="platform"
            *ngFor="let item of row.platforms"
            [ngClass]="item.platform.slug"
            [title]="item.platform.name"
          ></span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
      <td mat-cell *matCellDef="let row">{{ row.rating }}</td>
    </ng-container>

    <ng-container matColumnDef="metacritic">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Metascore</th>
      <td mat-cell *matCellDef="let row">
        <span
          class="score-badge"
          *ngIf="row.metacritic | ratingColor as color"
          [ngStyle]="{
            color: color,
            borderColor: color
          }"
          >{{ row.metacritic }}</span
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="released">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Released</th>
      <td mat-cell *matCellDef="let row">{{ row.released | date }}</td>
    </ng-container>

    <ng-container matColumnDef="playtime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Play time</th>
      <td mat-cell *matCellDef="let row">~{{ row.playtime }} hours</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageIndex]="metadata.page"
    [length]="metadata.total"
    [pageSize]="metadata.pageSize"
    [pageSizeOptions]="[10, 20, 100]"
    (page)="changePage($event)"
  ></mat-paginator>
</div>
