/** WARNING: Do NOT import this file in any component style */
@import 'variables';

html,
body {
  font-size: 0.0625vw; /* ~1px */
}

// fix for sort arrow not showing up when order set in code ( see: https://github.com/angular/components/issues/10242 )
.mat-sort-header-container.mat-sort-header-sorted > .mat-sort-header-arrow {
  opacity: 1 !important;
}

body {
  line-height: 1;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: $app-background-color;
  color: $app-text-color;
}

*,
*::before,
*::after {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

/* stylelint-disable-next-line selector-max-type */
input,
button {
  border: none;
  background: none;
}
